<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="favicon.ico">
<meta name="description" content="Devflow with k3s"/>
<meta name="robots" content="nofollow">
<meta name="viewport" content="width=device-width">
<meta http-equiv="Cache-Control" content="no-transform" /> 
<meta http-equiv="Cache-Control" content="no-siteapp" />
<title>K8S-Ingress 导航</title>
<link href="./css/daohang.css" type="text/css" rel="stylesheet" />
<style type='text/css'>
    li{
	 width:300px!important;
    }
	#meerkat-wrap,#sitemix_pr_footer_js{
display:none!important;}
    .shell {
        font-size: 16px;
        margin: 0px 20px 20px 20px;
    }
</style>	
</head>
<body>
    <div class="list"><img width="300" src="./images/logo0.png" alt="devflow in k3s"></div>

    <div class="shell">sudo echo "172.25.23.202 {{range .Pages}}{{.Url}} {{end}}" >> /etc/hosts</div>

    <!-- <div class="page"><a href="/posts/{#{.Url}}">{#{.Title}}</a></div> -->
    <div class="list">
    {{range .Pages}}
        <li onclick="javascript:this.getElementsByTagName('a')[0].click();">
            <span class="icon">K</span>
            <a href="https://{{.Url}}:{{.Port}}" target="_blank" class="text">
                <h2>{{.Title}}</h2>
                <h3>{{.Title}}</h3>
            </a>
        </li>        
    {{end}}
    </div>
    <div class="footer">觉得还可以，收藏起来以备不时之需</div>
    
</body>
</html>